*{
    margin: 0;
    padding: 0;
}
.hero_section{
    min-width: 320px ;
    padding-top: 10px;
}
.hero_section_elements_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero_section_img{
    width: 320px;
}
.hero_section_img img{
    width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
}

.hero_section_content{
    width: 100%;
}


.hero_section_content_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.hero_section_content_wrapper span{
    padding: 5px 0px;
    font-size: 16px;
    font-weight: 600;
    
}
.hero_section_content_wrapper a{
    text-decoration: none;
    color: #B0946D;
    font-weight: 700;
}
.hero_section_content_wrapper h1{
    margin-bottom: 0;
}
.hero_section_content_wrapper_button{
    display: flex;
    padding: 20px 0px;
    font-size: 16px;
    font-weight: 600;
    
}
#my_name_id{
    margin: 10px 0px;
}
.hero_section_content_wrapper_button button{
    padding: 5px 0px;
    font-size: 12px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    width:300px;
    height: 35px;
    border-radius: 3px;
    background-color: black;
    color: white;
    transition: all .5s ease;
}
.hero_section_content_wrapper_button button:hover{
    background-color: #B0946D;
    color: black;
}

.social_icons{
    display: flex;
    gap: 15px;
    width: fit-content;
    padding: 10px 0px;
}
.social_icons a{
    padding: 5px 0px;
}
.social_icons a svg{
    height: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all .5s ease
}
.social_icons a svg:hover{

    color: #B0946D;

}

@media(min-width:640px){
   
    .hero_section_elements_wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .hero_section_img{
        margin-left: 50px;
    }
    .hero_section_content{
        gap: 20px;
    }

    .hero_section_content_wrapper span{
        padding: 5px 0px;
        font-size: 12px;
        font-weight: 600;
        
    }
    .hero_section_content_wrapper_button{
        display: flex;
        padding: 16px 0px;
        font-size: 12px;
        font-weight: 400;
        
    }
    #my_name_id{
        font-size: 25px;
    }
    .hero_section_content_wrapper_button button{
        font-size: 12px;
        font-weight: 700;
        width:250px;
        background-color: #B0946D;
        color: white;
        transition: all .5s ease;
    }
    .social_icons a{
        padding: 5px 0px;
    }
    .social_icons a svg{
        height: 17px;
        color: black;
        cursor: pointer;
        transition: all .5s ease
    }
}
@media(min-width:768px){

    .hero_section_img{
        width: 45%;
        margin-left: 50px;
    }
    .hero_section_content{
        width: 45%;
        gap: 10px;
    }

    .hero_section_content_wrapper span{
        padding: 5px 0px;
        font-size: 14px;
        font-weight: 600;
    }

    .hero_section_content_wrapper_button{
        font-size: 14px;
    }
    #my_name_id{
        font-size: 30px;
    }
    .hero_section_content_wrapper_button button{
        font-size: 14px;
        font-weight: 700;
        width:250px;
        background-color: #000;
        color: white;
    }
    .social_icons a{
        padding: 5px 0px;
    }
    .social_icons a svg{
        height: 18px;
        color: black;
        cursor: pointer;
    }
}
@media(min-width:1024px){
    .hero_section{
        /* min-width: 1024px; */
        padding: 40px 100px;
    }
    .container{
        max-width: 100%;
    }
    .hero_section_elements_wrapper{
       gap: 20px;
    }
    .hero_section_img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: unset;
    }
    .hero_section_img img{
        width: 70%;
    }
    .hero_section_content{
        width: 45%;
        gap: 10px;
    }

    .hero_section_content_wrapper span{
        padding: 8px 0px;
        font-size: 17px;
        font-weight: 600;
        
    }
    .hero_section_content_wrapper_button{
        font-size: 20px;
        font-weight: 500;
        
    }
    #my_name_id{
        font-size: 35px;
    }
    .hero_section_content_wrapper_button button{
        padding: 5px 0px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        width:350px;
        height: 40px;
        background-color: #000;
        color: white;
    }
    .hero_section_content_wrapper_button button:hover{
        background-color: #B0946D;
        color: black;
    }
    .social_icons a{
        padding: 5px 0px;
    
    }
    .social_icons a svg{
        height: 20px;
        color: black;
        cursor: pointer;
    }
}
@media(min-width:1440px){
    .hero_section_img img{
        width: 70%;
    }
    .hero_section_content{
        width: 45%;
        gap: 10px;
    }

    .hero_section_content_wrapper span{
        font-size: 18px;
        
    }
    .hero_section_content_wrapper_button{
        font-size: 20px;
        font-weight: 500;
        
    }
    #my_name_id{
        font-size: 40px;
    }
    .hero_section_content_wrapper_button button{
        padding: 6px 0px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        width:350px;
        height: 42px;
        background-color: #000;
        color: white;
    }
    .hero_section_content_wrapper_button button:hover{
        background-color: #B0946D;
        color: black;
    }
    /* .sidebar_close_icon:hover{
        color: #B0946D;
    } */
    
  
   
}

